@import "./common/themes.scss";
@import "./common/scrollbar.scss";

* {
    outline: none;
}

button:focus {
    outline: none !important;
}

.gutter {
    background-color: rgb(49, 49, 49);

    &.gutter-horizontal {
        cursor: col-resize;
        width: 0 !important;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 5px;
            background-color: rgb(49, 49, 49);
            z-index: 60;
            opacity: 0;
            transition: 0.3s;
            transition-delay: 0.1s;
            left: -2.5px;
            cursor: col-resize;
        }

        &:hover {
            &::before {
                opacity: 0.3;
            }
        }

        &:active {
            &::before {
                opacity: 0.5;
            }
        }
    }

    &.gutter-vertical {
        cursor: col-resize;
        width: 100% !important;
        position: relative;
        height: 0 !important;
        &::before {
            content: "";
            position: absolute;
            height: 5px;
            width: 100%;
            background-color: rgb(49, 49, 49);
            z-index: 60;
            opacity: 0;
            transition: 0.3s;
            transition-delay: 0.1s;
            top: -2.5px;
            cursor: row-resize;
        }

        &:hover {
            &::before {
                opacity: 0.3;
            }
        }

        &:active {
            &::before {
                opacity: 0.5;
            }
        }
    }
}

.dark {
    .gutter {
        background-color: #eee;

        &.gutter-horizontal {
            &::before {
                background-color: rgb(255, 255, 255);
            }
        }

        &.gutter-vertical {
            &::before {
                background-color: rgb(255, 255, 255);
            }
        }
    }
}
