@import "./common/themes.scss";
@import "./common/scrollbar.scss";

* {
    outline: none;
}

button:focus {
    outline: none !important;
}

[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    opacity: 0.3;
    cursor: text;
}

.gutter {
    &.gutter-horizontal,
    &.gutter-vertical {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-color: var(--primaryColor);
            opacity: 0;
            z-index: 60;
            transition: 0.3s;
            transition-delay: 0.1s;
        }

        &:hover {
            &::before {
                opacity: 0.5;
            }
        }

        &:active {
            &::before {
                opacity: 0.5;
            }
        }
    }

    &.gutter-horizontal {
        cursor: col-resize;
        width: 0 !important;

        &::before {
            height: 100%;
            width: 5px;
            left: -2.5px;
            cursor: col-resize;
        }
    }

    &.gutter-vertical {
        cursor: col-resize;
        width: 100% !important;
        height: 0 !important;
        &::before {
            height: 5px;
            width: 100%;
            top: -2.5px;
            cursor: row-resize;
        }
    }
}
